@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500');
$roboto: 'Roboto Mono', monospace;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: bottom;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover, a:focus{
    text-decoration: none;
}

.clear{
    clear: both;
    width: 100%;
}

body{
    font-family: $roboto;
}
#menu{
    position: fixed;
    top:0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #34343F;
    z-index: 999;
    .control-menu{
        width: 50px;
        height: 50px;
        color: #fff;
        background-color: #86ad50;
        display: block;
        text-decoration: none;
        text-align: center;
        z-index: 9999!important;
        position: relative;
        &:before{
            width: 16px;
            height: 16px;
            content: "";
            background-image: url('../images/menu-mobile.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            -webkit-transition: -webkit-transform .25s ease-out 0s;
            transition: transform .25s ease-out 0s;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            display: inline-block;
            vertical-align: -15px;
        }
    }
    .open{
        &:before{
            content: "";
            background-image: url('../images/menu-mobile.svg');
            width: 16px;
            height: 16px;
            vertical-align: -15px;
            background-repeat: no-repeat;
            background-position: 0 -16px;;
            -webkit-transition: -webkit-transform .25s ease-out 0s;
            transition: transform .25s ease-out 0s;
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
            display: inline-block;
        }
    }
    #list-menu{
        margin-top: 1px;
        margin-top: -230px;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        li{
            a{
                color: #fff;
                font-size: 18px;
                display: inline-block;
                padding: 15px 17px 18px 17px;
                border-bottom: 1px solid #cdcdcd;
                background-color: #34343F;
                -webkit-transition: all 0.8s;
                transition: all 0.8s;
                span{
                    width: 16px;
                    line-height: 1;
                }
            }
            &:hover{
                a{
                    background-color: #86ad50;
                    -webkit-transition: all 0.8s;
                    transition: all 0.8s;
                }
            }
        }
    }
    #list-menu.in{
        margin-top: 1px;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
    .logo{
        text-indent: -9999px;
        background-image: url('../images/logo.png');
        position: absolute;
        left: 5px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;

    }
}

.about{
    background-image: url('../images/me.jpg');
    background-position: center -30px;
    background-size: cover;
    .box-overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(55,55,55,0.8);
    }
    .about-details{
        position: absolute;
        width: 100%;
        left: 100px;
        bottom: 200px;
        max-width: 500px;
        color: #fff;
        .desc{
            font-size: 24px;
            font-weight: 300
        }
        .link-contact{
            margin-top:15px;
            margin-bottom: 10px;
            li{
                display: inline-block;
                a{
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1.7px;
                    font-size: 18px;
                    &:hover{
                        color: #86ad50;
                    }
                }
                &:after{
                    content: "\f111";
                    font-family: FontAwesome;
                    margin-left: 15px;
                    margin-right: 5px;
                    font-size: 9px;
                    vertical-align: 3px;
                }
                &:last-child:after{
                    content: "";
                    margin-left: 0px;
                    margin-right:0px;
                }
            }
        }
        .link-connect{
            margin-bottom: 10px;
            margin-top: 15px;
            li{
                margin-bottom: 5px;
                p{
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1.2px;
                    font-size: 18px;
                }
            }
        }
    }
}
.services{
    background-image: url('../images/wave.png');
    background-position: center;
    background-size: cover;
    .box-overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(222,222,222,0.8);
    }
}
.home{
    #particles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .box-overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 2;
        padding-left: 50px;
        .about-details{
             position: absolute;
            width: 100%;
            left: 100px;
            top: 200px;
            max-width: 500px;
            color: #fff;
            .desc{
                h1{
                    font-size: 40px;
                    font-weight: 700;
                    text-shadow: 1.5px 2px #34343F;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 30em;
                    animation: type 4s steps(200, end);
                    .mh{
                        display: inline-block;
                        -webkit-transition: all .3s ease-out;
                        transition: all .3s ease-out;
                        cursor: pointer;
                        &:hover{
                            color: #86ad50;
                        }
                    }
                }
                small{
                    font-size: 16px;
                    animation: type2 8s steps(60, end);
                }
            }
        }
        .logo-positon{
            width: 200px;
            height: auto;
            position: absolute;
            right: 15%;
            bottom: 20%;
        }
    }
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
.portfolio{
    .box-overlay{
        background-color: #fff000;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow-x:auto;
        overflow-y:hidden; 
        padding-left: 50px;
        .list-portfolio{
            li{
                display: inline-block;
                margin: 0px;
                padding: 0px;
                float: left;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
} 

.contact {
    .modal-dialog{
        width: 100%;
        height: 100%;
        margin: 0px;
        border-radius: 0px;
        background-color: rgba(52, 52, 63, 0.95);
        .modal-content{
            position: absolute;
            border-radius: 0;
            max-width: 600px;
            width: 100%;
            height: 250px;
            background-color: transparent;
            border-width: 0px;
            color: #fff;
            left: 50%;
            top: 50%;
            margin-left: -300px;
            margin-top: -125px;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: center;
        }
        .close{
            background-image: url(../images/menu-mobile.svg);
            width: 25px;
            height: 25px;
            position: absolute;
            right: 15px;
            top: 15px;
            background-repeat: no-repeat;
            background-position: 0 -25px;
            background-size: cover;
        }
    }
}  

.link-contact{
    margin-top:15px;
    margin-bottom: 10px;
    li{
        display: inline-block;
        a{
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1.7px;
            font-size: 18px;
            &:hover{
                color: #86ad50;
            }
        }
        &:after{
            content: "\f111";
            font-family: FontAwesome;
            margin-left: 15px;
            margin-right: 5px;
            font-size: 9px;
            vertical-align: 3px;
        }
        &:last-child:after{
            content: "";
            margin-left: 0px;
            margin-right:0px;
        }
    }
}

.link-connect{
    margin-bottom: 10px;
    margin-top: 15px;
    li{
        margin-bottom: 5px;
        p{
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1.2px;
            font-size: 18px;
        }
    }
}
.cl-main{
    color: #86ad50!important;
}

@-webkit-keyframes hm-bottom-rightt {
   16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hm-bottom-rightt {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hm-bottom-rightt {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hm-bottom-rightt:hover, .hm-bottom-rightt:focus, .hm-bottom-rightt:active {
  -webkit-animation-name: hm-bottom-rightt;
  animation-name: hm-bottom-rightt;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}